body{
    margin: 0;
    padding: 0;
}
header{
    background-color:rgb(8, 8, 136) ;
    color: white;
    padding-bottom: 8px;
   padding: 20px;
   
   display: flex;
   align-items: center;
   justify-content: center;
    height: 1rem;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
#recipe-list{
    list-style: none;
      margin: 0;
    padding: 0;
}
.recipe-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
    border-radius:5px ;
    overflow: hidden;
}
.recipe-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;

}
.recipe-item h2{
    margin: 0px;
     padding: 10px;
    font-size: 20px;
    min-width: 200px;
}
p{
    padding: 10px;

}
a{
  background-color: rgb(8, 57, 121);  
  color: wheat;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  margin-right: 3px;
  transition: 0.3s ease-in;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  
}
.recipe-item a:hover{
    background-color:rgb(20, 81, 151) ;
    transition: 0.3s ease-in;
    font-size:15px;
}


